#cuerpo{

}

#cabecera{   
    
    display: block;
    margin: 0;
    padding: 2.5em 2em;
    background: #e9e5e4;

}

.buscar{
    display: inline-block;
    float: right;
}

.botonenviar{
    width: 7%;
    height: 7%;
}

.logo{
    display: inline-block;
   
}

#pie{
    background: black;
    display: block;
    padding: 1em 1.5em;
    
}

#pie label{
    color: #ffffff;
}

#pie a:hover{
    background-color: #F5B01B;
    color:black;
}

#pie li{
    padding: 0;
    margin: 0 20px 0 0;   
    display: inline;
  
}

#cabecera .iniciosecion{
margin-right: 3em;

}

#pie li a{
    float:right;
    margin-right: 0.12em;
    padding: 1em 1.5em;
}

.navegador{
    display:block;
    margin-left: 60%;
    
   
}

.navegador li {
    display: inline-block;
     padding: 1em 1em;
        
}

.navegador li a{
   display: inline-block;
   color: black;
   font-weight: bold;
   text-decoration: none;

}

.navegador li a:hover{

    font-size: 1.5em;
    
}

#logo{
    display: inline-block;
    height: 10%;
    width: 20%;
}

.baner{
    display: block;
    background: #626465;
    padding: 1em 0em 0em 0em;
    margin-bottom: 1em;
}
.baner img{
    display: block;
    width: 100%;
    
}

.registro{
    display: block;
    background: #626465;
    padding: 1em 0em 0em 0em;
    margin-left: 2.5em;;
    margin-bottom: 1em;
    width: 94%;
}

#tabla{
    text-align: center;
    width: 100%;
    padding: 1em 1em;
    text-align:left;
}

#tabla label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: #ffffff;
    
}

#tabla input{
    width: 80%;
}

#tituloformulario{
    padding: 0 0 0 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:x-large;
    color: #9ec9ee;
   

}

#tabla .botones{
    display:inline-block;
    width: 30%;
}

#tabla .botones :hover{
    background-color: #F5B01B;
}
